/* File: ffStyleSheet.css */

/* General formatting */
* {
  font:20px Times;
}
body {
  background-color:#A3E0FF;
}
#left {
  width:45%;
  float:left;
  border-right: 2px solid black;
}
#right {
  width:45%;
  float:right;
  border-left: 2px solid black;
}
